body{
    background-color: linear-gradient(to right, #74ebd5, #ACB6E5);
}

.textbox-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.textbox-content {
    font-size: 16px;
    line-height: 1.5;
}
.textbox{
    max-width: 600px;
    margin: auto;
    background: rgba(255, 255, 255, 0.15); /* transparent white */
    border-radius: 15px;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);           /* main glass effect */
    -webkit-backdrop-filter: blur(10px);   
    color: black;
}
