body{
    background-image: linear-gradient( 45deg, black, rgb(75, 75, 75), rgb(110, 110, 110), rgb(138, 138, 138), rgb(167, 167, 167));
    height: 200vh;
    margin: 0;
    color: black;
}

.textbox-container {
    max-width: 600px;
    margin: auto;
    padding-top: 50px;
    background: rgba(255, 255, 255, 0.15); /* transparent white */
    border-radius: 15px;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);           /* main glass effect */
    -webkit-backdrop-filter: blur(10px);   
}

.textbox-content{
    font-size: 18px;
    line-height: 1.5;
    color: black;
}
.textbox-content p {
    margin: 0;
}
.textbox-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
table {
    position: absolute;
    
}
td {   
    max-width: 600px;
    margin: auto;
    padding-top: 50px;
    background: rgba(255, 255, 255, 0.15); /* transparent white */
    border-radius: 15px;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);           /* main glass effect */
    -webkit-backdrop-filter: blur(10px);  
    color: black;
}

.closebtntextbox {
    background-color: red;
    color: black;
    font-size: 12px;
    font-family:'Times New Roman';
}